:root {
  --carousell-height: 300px;
  --carousell-width: 270px;
}

body {
  box-sizing: border-box;
  font-family: "Trip Sans Reg", serif;
}

.regular {
  font-family: "Trip Sans Reg";
}

.medium {
  font-family: "Trip Sans Med";
}

p {
  font-family: "Trip Sans Reg";
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
}

.container {
  width: 1136px;
  margin: 0 auto;
  /* border: brown solid 2px; */
}

/* HEADER */

header {
  margin-top: 10px;
}
header div {
  height: 42px;
  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
}
.left-header img {
  width: 150px;
}
.form-input {
  width: 300px;
  border: rgba(209, 209, 209, 0.884) solid 2px;
  border-radius: 20px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.form-input svg {
  margin: 0 5px;
  width: 25px;
}

.right-header {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
}

.right-header div {
  align-items: center;
  /* margin-left: 20px; */
}

.right-header svg {
  margin-right: 5px;
}

.right-header div:nth-child(1) {
  padding-right: 10px;
  padding-left: 10px;
}
.right-header div:nth-child(1):hover {
  background-color: #ededed;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.right-header div:nth-child(2) {
  padding-right: 10px;
  padding-left: 10px;
}
.right-header div:nth-child(2):hover {
  background-color: #ededed;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.right-header div:nth-child(3) {
  padding-right: 10px;
  padding-left: 10px;
}
.right-header div:nth-child(3):hover {
  background-color: #ededed;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

button {
  color: white;
  background: black;
  padding-left: 15px;
  padding-right: 15px;
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
  border-radius: 25px;
  border: none;
  height: 100%;
  text-align: center;
  font-size: 16px;
}

button:hover {
  background-color: #333333;
}

/* MAIN */

h1 {
  margin-top: 50px;
  /* margin-bottom: 20px; */
  font-size: 54px;
  line-height: 64px;
  font-family: "Trip Sans Med";
  font-weight: 800;
}
h2 {
  font-family: "Trip Sans Med";
  font-weight: bold;
  line-height: 33px;
  font-size: 28px;
  margin-bottom: 16px;
}
h3 {
  font-family: "Trip Sans Reg";
  font-weight: bold;
  margin-bottom: 16px;
  /* line-height: 33px; */
  font-size: 30px;
}
.menu-bar {
  display: flex;
  gap: 10px;
  border-radius: 2px red solid;
  margin: 20px 0;
}

.menu-bar div {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  height: 66px;
  border: black solid 1px;
  border-radius: 10px;
}

.menu-bar div:hover {
  color: white;
  background-color: black;
  fill: white;
}
.menu-bar p {
  flex: 3;
  line-height: 20px;
  /* background-color: brown; */
}

.menu-bar svg {
  flex: 1;
}

.photos {
  display: flex;
  gap: 2px;
  height: 440px;
  width: 100%;
}
.photos img:hover {
  opacity: 80%;
}
.photos .left {
  flex: 7;
}
.photos .left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photos .right {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
}

.photos .right img {
  object-fit: cover;
  float: right;
  width: 100%;
  height: 50%;
}

.text-under-photos {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.text-under-photos p {
  font-size: 12px;
  font-weight: 100;
}

.location-path p:hover {
  text-decoration: underline;
}

.location-path {
  display: flex;
  gap: 3px;
  align-items: center;
}

.details-city {
  display: flex;
  gap: 100px;
  margin-bottom: 60px;
}
.left-column {
  flex: 4;
}

.left-column p {
  font-size: 18px;
  font-family: Georgia;
  font-weight: 100;
  font-style: normal;
  line-height: 22px;
}

.right-column {
  flex: 3;
}

.right-column div:first-child {
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  background-color: #fd5d5d;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.right-column p {
  font-size: 15px;
  font-weight: 100;
  font-style: normal;
  line-height: 24px;
}

.right-column img {
  width: 100%;
  object-fit: cover;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  /* height: 100%; */
}

.create-button {
  background-color: #333333;
  border-radius: 20px;
  color: white;
  padding: 15px;
  /* align-items: center; */
}

.button {
  display: flex;
  margin-top: 20px;
}

h4 {
  font-family: "Trip Sans Reg";
  font-weight: bold;
  line-height: 29px;
  font-size: 24px;
  margin-bottom: 25px;
}

.caroussel-base {
  margin-top: 20px;
  margin-bottom: 40px;
}

.caroussel-base > section {
  display: flex;
  margin-top: 30px;
  margin-bottom: 100px;
  gap: 40px;
}

.left-text {
  flex: 2;
}
.left-text p {
  font-size: 18px;
  font-family: Georgia;
  font-weight: 100;
  font-style: normal;
  line-height: 22px;
  margin-bottom: 10px;
}
.right-caroussel::-webkit-scrollbar {
  display: none;
}

.right-caroussel {
  flex: 8;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  gap: 15px;
}

.img-container {
  width: 270px;
  height: 200px;
  object-fit: cover;
  position: relative;
}

.img-container img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.img-container img:nth-child(1):hover {
  opacity: 80%;
}

.img-container img:nth-child(2) {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 8px;
  bottom: 8px;
}

.img-container i {
  background: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.right-caroussel p {
  margin-top: 10px;
  font-size: 17px;
  height: 40px;
}

footer {
  height: 150px;
  background: #f9f1ec;
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 {
  margin-left: 20px;
  font-size: 20px;
  font-family: "Trip Sans Med";
}

h5 span {
  color: #fe5d5d;
  font-weight: bold;
}
